{% jsonld
	'WebSite',
	site.baseUrl + '/#WebSite',
	{
		name: site.title,
		url: site.baseUrl + '/',
		inLanguage: site.lang
	}
%}

{% jsonld
	'WebPage',
	( site.baseUrl + page.url ) + '#WebPage',
	{
		name: page.title | default( site.title ),
		url: site.baseUrl + page.url,
		description: page.description | default( site.meta.desc ),
		inLanguage: site.lang,
		isPartOf: { "@id": site.baseUrl + '/#WebSite' },
		about: { "@id": site.baseUrl + '/#LocalBusiness' }
	}
%}

{% jsonld
	'Person',
	site.baseUrl + '/#Person',
	{
		name: site.metagen.author,
		jobTitle: site.jobTitle,
		url: site.baseUrl + '/',
		telephone: site.telephone,
		email: site.email,
		sameAs: site.sameAs,
		knowsAbout: site.knowsAbout
	}
%}

{% jsonld
	'LocalBusiness',
	site.baseUrl + '/#LocalBusiness',
	{
		image: site.baseUrl + site.metagen.img,
		name: site.businessName,
		alternateName: site.metagen.author,
		description: site.meta.desc,
		url: site.baseUrl,
		telephone: site.telephone,
		priceRange: "$$",
		areaServed: site.areaServed,
		sameAs: site.sameAs,
		address: site.address,
		openingHours: site.openingHours
	}
%}

{% for service in site.services %}
	{% jsonld
	'Service',
		site.baseUrl + '#service-' + service.id,
		{
			name: item.name,
			description: item.description,
			serviceType: item.serviceType,
			provider: { "@id": site.baseUrl + '/#LocalBusiness' }
		}
	%}
{% endfor %}
