<section id="cta" class="{{ sections.cta.section.class | default( '' ) }}">
	<div class="content centered {{ sections.cta.content.class | default( 'bordered' ) }}">
		<p class="lead">Is maintaining a website keeping you from starting one or slowing your business down?<br><strong>Let me take that frustration off your hands.</strong></p>
		<h2>Ready for <em>relief</em> from figuring out websites?</h2>
		{% include 'book-button.njk' %}
	</div>
</section>