<section id="cta" class="{{ sections.cta.section.class | default( '' ) }}">
	<div class="content centered {{ sections.cta.content.class | default( 'bordered' ) }}">
		<h2>Ready to stop <em>worrying</em> about your website?</h2>
		{% include 'book-button.njk' %}
	</div>
</section>