<section id="cta" class="{{ sections.cta.section.class | default( '' ) }}">
	<div class="content centered {{ sections.cta.content.class | default( 'bordered' ) }}">
		<h2>Ready for <em>relief</em> from figuring out websites?</h2>
		{% include 'book-button.njk' %}
	</div>
</section>