<section id="experience" class="{{ sections.experience.section.class | default( '' ) }}">
	<div class="content {{ sections.experience.content.class | default( 'bordered centered' ) }}">

		<h2>I spent a <em class="emu"><strong>decade</strong></em> building websites<br class="desktop">&nbsp;at agencies for <strong>big</strong> companies.</h2>

		<div class="progress">
			<div class="am">
				<h3 class="years">3 years</h3>
				<div class="where">AwesomeMotive</div>
			</div>
			<div class="webdev">
				<h3 class="years">7 years</h3>
				<div class="where">WebDevStudios</div>
			</div>
		</div>

		<p class="claim">Now I help <em>small</em> and <em>medium</em> sized businesses <strong>get more from their website.</strong></p>
	</div>
</section>
