<section id="experience" class="{{ sections.experience.section.class | default( '' ) }}">
	<div class="content {{ sections.experience.content.class | default( 'bordered centered' ) }}">

		<h2>I've spent over a <em class="emu"><strong>decade</strong></em> building websites with agencies who focused on enterprise sized companies.</h2>

		<div class="progress">
			<div class="am">
				<h3 class="years">3 years</h3>
				<div class="where">AwesomeMotive</div>
			</div>
			<div class="webdev">
				<h3 class="years">7 years</h3>
				<div class="where">WebDevStudios</div>
			</div>
		</div>

		<p class="claim">Now I use that experience to help people <strong>get more out of thier website.</strong></p>
	</div>
</section>
