<section id="experience" class="{{ sections.experience.section.class | default( '' ) }}">
	<div class="content {{ sections.experience.content.class | default( 'bordered centered' ) }}">

		<h2>I spent over a <em class="emu"><strong>decade</strong></em> building websites for <strong>big corporations</strong> that <em class="emu">hurt local business.</em></h2>

		<div class="progress">
			<div class="then">
				<h3 class="years">Then</h3>
				<div class="where"><em>My&nbsp;9&nbsp;to&nbsp;5</em></div>
			</div>
			<div class="now">
				<h3 class="years">Now</h3>
				<div class="where">Running a local business that helps local businesses!</div>
			</div>
		</div>

		<p class="claim">{{ "Now I **reverse-engineer ~~corporation tactics~~** to give local businesses the **edge** again!" | markdown | replace( '<p', '<span' ) | safe }}</p>
	</div>
</section>
