<section id="how" class="{{ sections.how.section.class | default( 'textured' ) }}">
	<div class="content {{ sections.how.content.class | default( 'bordered' ) }}">

		<h2>How it works</h2>

		<h3>We build a website.</h3>

		<div class="content-block">
			{{ "I build and launch a website for your business that's _**directly aligned with your business's goals.**_ They're **lean**, **fast**, **simple**, and _**you own it.**_" | markdown | safe }}

			<p>
				<a href="/how-i-build-websites/#content" class="button">Learn more <span class="desktop">about how I build websites</span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a>
			</p>
		</div>

		<h3>Now, consider me a part of <strong>your team.</strong></h3>

		<div class="content-block">
			{{ "I work directly with you _**every month**_ to make sure you are getting the _**most out of your website.**_ Whatever your business is doing, I make sure your website supports it." | markdown | safe }}
		</div>

		<ul class="pills">
			<li>Website maintenance</li>
			<li>Content updates</li>
			<li>Landing pages &amp; Campaigns</li>
			<li>Conversion-focused design</li>
			<li>Search engine optimization</li>
			<li>Speed optimization</li>
			<li>Core Web Vitals</li>
			<li>Analytics & tracking</li>
			<li>Structured data (schema)</li>
			<li>Forms & lead capture</li>
			<li>Email marketing</li>
			<li>Accessibility</li>
		</ul>
	</div>
</section>
