<section id="how" class="{{ sections.how.section.class | default( 'textured' ) }}">
	<div class="content {{ sections.how.content.class | default( 'bordered' ) }}">

		<h2>How it works</h2>

		<h3>We build a website.</h3>

		<div class="content-block">
			{{ "Unless you already have a website, we build a website that's _**directly aligned with your business's goals.**_ They're **lean**, **simple**, and _**you own it.**_ End our relationship? **Your website stays up.**" | markdown | safe }}

			<p>
				<a href="/how-websites-are-built/#content" class="button">Learn more <span class="desktop">about how I build websites</span><span class="material-symbols-outlined">open_in_new</span></a>
			</p>
		</div>

		<h3>Now, consider me a part of <strong>your team.</strong></h3>

		<div class="content-block">
			{{ "**Need content updates?** Want to run a campaign? _Not sure?_" | markdown | safe }}
			{{ "I work directly with you _**every month**_ to make sure you are getting the most out of your website. Whatever's going on, **I make sure your website is working along-side your what your business is doing.**" | markdown | safe }}
		</div>
	</div>
</section>
