<section id="intro" class="{{ sections.intro.section.class | default( '' ) }}">
	<div class="content {{ sections.intro.content.class | default( 'bordered' ) }}">

		<div class="status-and-headline">
			<div class="status"><span></span>Available for work</div>
			<!--<div class="headline"><span class="material-symbols-outlined">circle_notifications</span> <a href="#" title="Read More">hireaubrey.com v3 relaunched!</a></div>-->
		</div>

		<div class="who-am-i">
			<div class="header-content">
				<div class="heading-and-title">
					<h1 class="main-heading">I'm Aubrey.</h1>
					<p class="title">Web Developer / Designer</p>
				</div>

				{{ "I _build and maintain_ websites for people who are **sick of doing it themselves** who wish they had someone **on their team** to take care of it." | markdown | safe }}
			</div>

			<picture>
				<img src="/assets/img/aubrey-low.webp"
				alt="Aubrey Portwood"
				fetchpriority="high"
				onload="this.src='/assets/img/aubrey.webp'"
				eleventy:ignore>
			</picture>
		</div>

		<ol class="you-run-your-business">
			<li>You run your business.</li>
			<li>I'll run the website.</li>
		</ol>

		{% include 'book-button.njk' %}
	</div>
</section>
