<section id="reviews" class="{{ sections.reviews.section.class | default( 'white' ) }}">
	<div class="content {{ sections.reviews.content.class | default( 'full no-gap' ) }}">
		<ul class="testimonials">
			{% for review in reviews %}
				<li>
					<span class="icon">&rdquo;</span>
					<span class="quote">&ldquo;{{ review.quote }}&rdquo;</span>
					<div class="name-and-company">
						<span class="name">{{ review.name }}</span>
						<span class="company">{{ review.company }}</span>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
