---
{
	bootstrap: true,
	markdown: false
}
---
<!DOCTYPE html>
<html lang="{{ site.lang or 'en-US' }}">
	<head>

		<link rel="preload" as="image" href="/assets/img/aubrey.webp">
		<link rel="preload" as="image" href="/assets/img/paper-white.webp">

		{% if title or site.title %}
			<title>{% if title %}{{ title }}{% endif %}{% if site.title and title %} - {% endif %}{% if site.title %}{{ site.title }}{% endif %}</title>
		{% endif %}

		<meta name="viewport" content="{{ site.meta.viewport.content | default ( 'width=device-width, initial-scale=1' ) }}">

		{% metagen {
			title: false,
			url: site.baseUrl + page.url,
			desc: site.metagen.desc or '',
			img: site.baseUrl + site.metagen.img,
			img_alt: site.title,
			twitter_card_type: 'summary_large_image',
			twitter_handle: site.metagen.twitter or '',
			name: site.metagen.author or ''
		} %}

		{% eleventyGoogleFonts 'https://fonts.googleapis.com/css2'
			+ '?family=Google+Sans+Flex:opsz,wght@6..144,1..1000'
			+ '&family=Instrument+Serif:ital@0;1'
			+ '&family=Caveat:wght@400..700'
			+ '&family=Material+Symbols+Outlined'
			+ '&display=swap' %}

		<link rel="stylesheet" href="/assets/css/sanitize.css/assets.css">
		<link rel="stylesheet" href="/assets/css/sanitize.css/forms.css">
		<link rel="stylesheet" href="/assets/css/sanitize.css/reduce-motion.css">
		<link rel="stylesheet" href="/assets/css/sanitize.css/sanitize.css">
		<link rel="stylesheet" href="/assets/css/sanitize.css/system-ui.css">
		<link rel="stylesheet" href="/assets/css/sanitize.css/typography.css">
		<link rel="stylesheet" href="/assets/css/sanitize.css/ui-monospace.css">

		<link rel="stylesheet" href="/assets/css/base.css">

		<style>{% getBundle "css" %}</style>

		{% if ga4.id or ga4.force %}
			{% ga4 ga4.id, { force: ga4.force } %}
		{% endif %}

		{% include 'jsonld.njk' %}
	</head>

	<body class="{{ body.class | default( '' ) }}">
		<main class="{{ body.main.class | default( '' ) }}">

			<section>
				<div class="content bordered compact">
					<!-- It's cheap, I know. -->
				</div>
			</section>

			{% if content %}
				{% if markdown != false %}
					{{ content | markdown | safe }}
				{% else %}
					{{ content | safe }}
				{% endif %}
			{% endif %}

			<section id="footer">
				<div class="content bordered compact centered">
					<p>Made in <img src="/assets/img/nm.webp" alt="Made in New Mexico"> <strong>Albuquerque</strong>, New Mexico</p>
				</div>
			</section>
		</main>

		<script src="/assets/js/base.js" defer></script>
		<script>{% getBundle 'js' %}</script>

		<!-- Koalendar Link Widget Start -->
		<script>window.Koalendar=window.Koalendar||function(){(Koalendar.props=Koalendar.props||[]).push(arguments)};</script>
		<script async src="https://koalendar.com/assets/widget.js"></script>
		<script defer>Koalendar('init');</script>
		<script>
			document.querySelectorAll( 'a[data-koalendar]' ).forEach( function( link ) {
				link.addEventListener( 'click', function( event ) {
					event.preventDefault();
						Koalendar( 'open', { url: 'https://koalendar.com/e/aubreypwd' } );
				} );
			} );
		</script>
	</body>
</html>
