---
{
	layout: "layouts/base",
	markdown: false
}
---

<form
	name="{{ title }}"
	method="POST"
	action="{{ page.url }}?sent"
	data-netlify="true"
	netlify
>
	<input type="hidden" name="form-name" value="{{ title }}">

	<section id="content" class="page textured">
		<div class="content bordered">
			<h1>{{ title }}</h1>

			<div class="content-block">
				{% if description %}
					{{ description | markdown | safe }}
				{% endif %}
			</div>

			<div id="sent" class="sent hidden">
				{{ sent | markdown | safe }}
			</div>

			<script>
				if (window.location.search.includes('?sent')) {
					document.getElementById('sent').classList.remove('hidden');
				}
			</script>
		</div>
	</section>

	{% for section in form %}
		{% set sectionIndex = loop.index %}
		<section class="page {{ section.class }}">
			<div class="content bordered">
				<h2>{{ section.title }}</h2>

				{% if section.description %}
					<div class="description">{{ section.description | markdown | safe }}</div>
				{% endif %}

				<div class="content-block">
					<hr>

					{% for field in section.fields %}
						{% set fieldIndex = loop.index %}
						{% set fieldId = "field-" + sectionIndex + "-" + fieldIndex %}

						{% if field.type != 'checkbox' %}
							<label for="{{ fieldId }}">
								{{ field.label }}{% if field.required %} <span class="required">(Required)</span>{% endif %}
							</label>
						{% else %}
							<div class="label">
								{{ field.label }}{% if field.required %} <span class="required">(Required)</span>{% endif %}
							</div>
						{% endif %}

						{% if field.type == 'textarea' %}
							<textarea
								name="{{ field.label }}"
								id="{{ fieldId }}"
								placeholder="{{ field.placeholder }}"
								autocomplete="{{ field.autocomplete | default('off') }}"
								{% if field.required %}required{% endif %}
							></textarea>

						{% elseif field.type == 'text' or field.type == 'email' %}
							<input
								type="{{ field.type }}"
								name="{{ field.label }}"
								id="{{ fieldId }}"
								placeholder="{{ field.placeholder }}"
								autocomplete="{{ field.autocomplete | default('on') }}"
								{% if field.required %}required{% endif %}
							>

						{% elseif field.type == 'select' %}
							<select
								name="{{ field.label }}"
								id="{{ fieldId }}"
								autocomplete="{{ field.autocomplete | default('off') }}"
								{% if field.required %}required{% endif %}
							>
								<option value="" disabled selected>{{ field.placeholder | default( 'Select an option' ) }}</option>
								{% for option in field.options %}
									<option value="{{ option }}">{{ option }}</option>
								{% endfor %}
							</select>

						{% elseif field.type == 'checkbox' %}
							{% for option in field.options %}
								{% set optionId = fieldId + "-" + loop.index %}
								<div class="checkbox">
									<label class="checkbox" for="{{ optionId }}">
										<input
											type="checkbox"
											name="{{ field.label }}"
											id="{{ optionId }}"
											value="{{ option }}"
											autocomplete="{{ field.autocomplete | default('off') }}"
										> {{ option }}
									</label>
								</div>
							{% endfor %}
						{% endif %}

						{% if field.description %}
							<div class="description">{{ field.description | markdown | safe }}</div>
						{% endif %}
					{% endfor %}

					<p>
						<button class="alt1" type="submit">
							Send
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
								<path d="m720-160-56-56 63-64H560v-80h167l-63-64 56-56 160 160-160 160ZM160-280q-33 0-56.5-23.5T80-360v-400q0-33 23.5-56.5T160-840h520q33 0 56.5 23.5T760-760v204q-10-2-20-3t-20-1q-10 0-20 .5t-20 2.5v-147L416-520 160-703v343h323q-2 10-2.5 20t-.5 20q0 10 1 20t3 20H160Zm58-480 198 142 204-142H218Zm-58 400v-400 400Z"/>
							</svg>
						</button>
					</p>
				</div>
			</div>
		</section>
	{% endfor %}
</form>