:root {

	--font-GoogleSans: "Google Sans Flex", sans-serif;
	--font-Instrument: "Instrument Serif", serif;
	--font-Allura: "Allura", cursive;

	--alt: #198cff;
	--borders: #d5d5d5;
	--alt2: #999898;
	--alt3: #4f4f4f;
	--green: #4fb36e;

	--gap: clamp(1rem,5vw,2.5rem);
	--p-size: clamp(1.2rem,3vw,1.5rem);
	--p-height: clamp(1.9rem,7vw,2.4rem);

	--sides: clamp(1rem,8vw,10rem);

	@media ( min-width: 1200px ) {
		--sides: clamp(5rem,11vw,11rem);
	}
}

html {
	scroll-behavior: smooth;
}

[id] {
	scroll-margin-top: 100px;
}

body {

	background: white;
	color: black;
	min-height: 100vh;
	font-family: "Google Sans Flex", sans-serif;
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p, ul, ol, blockquote {
	margin: 0;
	font-weight: normal;
}

a {
	color: var(--alt);
}

main {

	margin-top: 0;
	margin-bottom: 0;

	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: center;

	> section {

		background: white;
		border-top: 1px dashed var(--borders);
		width: 100%;

		background-image: url( '/assets/img/paper-white.webp' );
		background-repeat: repeat;

		&:first-child {
			border-top: none;
		}

		&:last-child {
			border-bottom: none;
		}

		&.textured {

			background-image: url( '/assets/img/paper-grey.webp' );
			background-repeat: repeat;

			> .content {

				h2 {
					color: black;
				}

				h3 {
					color: var(--alt);
				}
			}
		}

		&.white {
			background-color: white;
			background-image: none;
		}

		> .content {

			min-height: 100%;

			position: relative;

			margin-left: auto;
			margin-right: auto;

			padding: calc(var(--sides)/1.5) calc(var(--sides)/2);

			max-width: 1400px;

			@media ( max-width: 1400px ) {
				max-width: 95%;
			}

			&.full {
				max-width: 100%;
				padding: 1rem 0;
			}

			&.no-gap {
				gap: 0;
			}

			display: flex;
			flex-direction: column;
			gap: var(--gap);

			overflow: hidden;

			@media ( max-width: 1200px ) {
				padding: calc(var(--sides)*1.5) var(--sides);
				text-align: center;
				justify-content: center;
			}

			&.bordered {
				border-right: 1px dashed var(--borders);
				border-left: 1px dashed var(--borders);
			}

			&.compact {
				padding: 1.5rem 0
			}

			&.centered {
				text-align: center;
			}

			h2 {
				font-size: clamp(2rem,10vw,6rem);
				line-height: clamp(2rem,10vw,6rem);

				font-weight: 500;
				font-family: var(--font-Instrument);
				color: black;
			}

			h3 {
				font-size: clamp(1.7rem,5.5vw,3.7rem);

				font-weight: 600;
				color: var(--alt3);
				font-family: var(--font-GoogleSans);

				> strong {
					font-weight: 800;
				}
			}

			> .content-block {

				display: flex;
				flex-direction: column;
				gap: var(--gap);
				line-height: clamp(1rem,3.5vw,2rem);
				font-size: var(--p-size);

				p {
					line-height: var(--p-height);
				}
			}

			.alt2 {
				color: var(--alt2);
			}

			.alt3 {
				color: var(--alt3);
			}
		}

		&.page {

			> .content {

				&.narrow {

					@media ( min-width: 1200px ) {
						padding-left: 15%;
						padding-right: 15%;
					}
				}

				h1 {
					font-family: var(--font-GoogleSans);
					font-size: clamp(2rem,4vw,4rem);
					line-height: clamp(2.3rem,4.3vw,4.3rem);
					color: var(--alt3);
					margin-bottom: 2rem;
					font-weight: 600;
					/* text-align: center; */
				}

				h2 {
					font-family: var(--font-Instrument);
					font-weight: 500;
					font-size: 4rem;
					line-height: 4rem;
					color: black;
					margin: 4rem 0 2rem;
				}

				> .content-block {
					gap: calc(var(--gap)/2);
				}
			}
		}
	}

	#cta {
		h2 {
			line-height: clamp(3rem,11vw,7rem);
			font-size: clamp(3rem,11vw,6rem);

			span {
				font-family: var(--font-GoogleSans);
				font-weight: 600;
			}
		}
	}

	#footer {

		font-size: 1rem;

		.material-symbols-outlined {
			font-size: 1rem;
		}

		img {
			height: 20px;
			width: 20px;
			margin: 0 5px;
			position: relative;
			top: 3px;
		}
	}

	#experience {

		.claim {

			font-size: clamp(1rem,5vw,2rem);
			color: var(--alt3);

			em {
				font-family: var(--font-Instrument);
				font-size: clamp(1.5rem,5.5vw,2.5rem);
				font-weight: 700;
			}
		}

		.microsoft {
			color: var(--alt);
		}

		.monster {
			color: rgb(113 27 113);
		}

		h2 {
			font-size: clamp(1.5rem,5vw,3rem);
			line-height: clamp(2rem,5.5vw,3.5rem);
			color: var(--alt3);
			font-family: var(--font-GoogleSans);
		}

		.progress {

			width: 100%;
			padding: 0.5rem;
			background: var(--borders);

			border-radius: 1rem;

			display: flex;
			flex-direction: row;
			gap: 0;

			@media ( max-width: 1200px ) {
				padding: 0.3rem;
			}

			.am {

				width: 30%;
				background-color: #0e1b3c;
				border-top-left-radius: 0.6rem;
				border-bottom-left-radius: 0.6rem;

				&:hover {
					width: 35%;
				}
			}

			.webdev {

				width: 70%;
				background-color: #f2723c;
				border-top-right-radius: 0.6rem;
				border-bottom-right-radius: 0.6rem;

				&:hover {
					width: 75%;
				}
			}

			> div {

				transition: width 0.2s ease-in-out;

				background-color: var(--alt);
				text-align: center;

				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: calc(var(--gap)/2);
				color: white;

				@media ( max-width: 1200px ) {
					padding: calc(var(--gap)/2) calc(var(--gap)/4);
				}

			 .years {
					color: white;
					font-family: var(--font-Instrument);
					font-size: clamp(1.5rem, 5vw, 4rem);
					font-weight: 400;
				}

				.where {
					font-size: clamp(0.1rem,2vw,1rem);
					font-weight: 600;
				}
			}
		}
	}

	#reviews {

		padding: calc(var(--sides)/8) 0;

		&:hover {
			cursor: e-resize;
		}

		ul.testimonials,
		ul.logos {

			width: 100%;
			overflow: scroll;

			scrollbar-width: none;
			-ms-overflow-style: none;
			list-style-type: none;
			margin: 0;

			padding: calc(var(--sides)/2);

			&::-webkit-scrollbar {
				display: none;
			}
		}

		ul.logos {

			display: flex;
			flex-direction: row;
			gap: var(--gap);
			width: 100%;
			justify-content: space-around;
		}

		ul.testimonials {

			display: flex;
			flex-direction: row;
			gap: var(--gap);
			align-items: center;

			animation: scroll-testimonials linear infinite;

			@media ( max-width: 1200px ) {
				animation: scroll-testimonials linear infinite;
			}

			&:hover {
				animation-play-state: paused;
			}

			li {
				display: block;

				background-color: white;

				display: flex;
				flex-direction: column;
				gap: calc(var(--gap)/2);

				padding: 3rem;
				box-shadow: 0 0 4rem #f4f3f3;
				border-radius: 2rem;

				min-width: 400px;

				text-align: left;

				@media ( max-width: 520px ) {
					min-width: 95%;
				}

				border: 1px solid var(--borders);

				transition: transform 0.3s ease-in-out,
					border 0.3s ease-in-out;

				&:hover {
					transform: scale(1.1);
					border-color: var(--borders);
				}

				position: relative;

				.icon {

					font-size: 10rem;
					line-height: 2rem;
					font-family: var(--font-Instrument);
					color: black;

					position: absolute;
					right: 1rem;
					top: 4rem;

					display: none;
				}

				.quote {
					color: black;
					font-weight: 400;

					font-size: clamp(1.2rem,2vw,1.7rem);
					line-height: clamp(1.7rem,3vw,2.2rem);
				}

				.name-and-company {

					display: flex;
					flex-direction: column;
					gap: 0.5rem;

					.name {
						color: var(--alt3);
						font-size: 1.5rem;
					}

					.company {
						color: var(--alt2);
						font-size: 0.8rem;
					}
				}
			}
		}
	}

	p > em,
	.emu {

		font-style: normal;
		text-decoration: underline;
		text-decoration-color: #dadada;
		text-decoration-thickness: 3.5px;

		&.b {
			font-weight: bold;
		}
	}

	p > strong > strong {
		color: #ce4343;
		font-weight: 700;
	}

	p > em > strong > strong {
		color: #118d11;
		font-weight: 800;
	}

	#intro {

		.status-and-headline {

			display: flex;
			gap: calc(var(--gap)/2);
			align-items: flex-start;

			@media (max-width: 1200px) {
				flex-direction: column;
				align-items: center;
				gap: calc(var(--gap)/2);
			}

			.headline {

				font-size: clamp(0.5rem,4vw,0.9rem);
				line-height: clamp(0.5rem,4vw,0.9rem);
				vertical-align: middle;

				display: flex;
				align-items: center;
				gap: 0.5rem;

				position: relative;
				top: 7px;

				@media (max-width: 1200px) {
					top: 0;
				}

				.material-symbols-outlined {
					font-size: 1rem;
					color: var(--alt2);
				}

				a {
					color: var(--alt2);

					&:hover {
						color: var(--alt);
					}
				}
			}
		}

		.you-run-your-business {

			display: flex;
			flex-direction: column;
			gap: calc(var(--gap)/3);
			list-style-type: none;
			padding: 0;

			li {
				font-weight: 600;
			}

			li:first-child {

				font-size: clamp(1rem,5vw,5rem);

				color: var(--alt);
				font-weight: 700;
			}

			li:last-child {

				font-size: clamp(1.5rem,5vw,4rem);

				font-weight: 500;
				color: var(--alt2);
			}
		}

		.who-am-i {

			display: flex;
			flex-direction: row;
			gap: var(--gap);
			justify-content: space-between;
			align-items: center;

			.header-content {

				order: 0;

				line-height: var(--p-height);
				font-size: var(--p-size);

				font-weight: 400;
				display: flex;
				flex-direction: column;
				gap: calc(var(--gap)/3);
				/* justify-content: space-between; */

				width: 70%;

				@media ( max-width: 1200px ) {
					text-align: center;
					width: 100%;
				}

				.heading-and-title {
					display: flex;
					flex-direction: column;
					gap: calc(var(--gap)/2);
				}

				.main-heading {

					font-size: clamp(2rem,15vw,8rem);
					line-height: clamp(2.5rem,20vw,7rem);
					font-weight: 500;
					font-family: var(--font-Instrument);
				}

				.title {
					font-size: 1rem;
					color: var(--alt2);
				}

				> p:last-child {

					font-size: clamp(var(--p-size),4vw,2rem);
					line-height: clamp(var(--p-height),6vw,3rem);
				}
			}

			picture {

				order: 1;
				height: 90%;
				width: 30%;

				@media ( max-width: 1200px ) {
					width: 100%;
				}

				img {

					background-color: black;

					border: 1px solid var(--alt2);
					filter: brightness(110%);
					border-radius: clamp(2rem,3vw,5rem);
					width: 100%;
					height: auto;
				}
			}


			@media ( max-width: 1200px ) {
				flex-direction: column;

				.header-content {
					order: 1;
				}

				picture {
					order: 0;
				}
			}
		}
	}
}

.button {

	background-color: var(--alt);
	color: white;
	box-shadow: inset -2px -2px hsl(0deg 0% 0% / 5%);

	text-decoration: none;
	border-radius: 2px;
	transition: box-shadow 0.1s ease-in;

	padding: 0.7rem 1.2rem;

	@media ( max-width: 1200px ) {
		padding: 0.5rem 1rem;
	}

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.5px;

	font-size: clamp(1rem,2vw,1.2rem);
	line-height: clamp(1rem,2vw,1.2rem);

	&:hover {
		box-shadow: inset -2px -2px hsl(0deg 0% 0% / 15%);
	}

	&.alt1 {
		background-color: var(--green);
		color: white;
	}

	&.big {
		padding: 1rem;
	}

	&.alt2 {
		background-color: var(--alt2);
	}

	.material-symbols-outlined {
		font-size: 1.4rem;
	}
}

.status {

	border: 1px solid var(--green);
	border-radius: 4rem;

	padding:
		calc(1rem/3)
		0.8rem
		calc(1rem/3)
		0.7rem;

	font-size: clamp(0.6rem,4vw,0.8rem);
	display: inline-block;
	color: var(--alt3);

	@media ( max-width: 1200px ) {
		/* margin-bottom: 1rem; */
	}

	span {

		display: inline-block;
		background-color: #00cd00;
		height: clamp(5px,3vw,9px);
		width: clamp(5px,3vw,9px);
		border-radius: 50%;
		margin-right: 0.5rem;

		animation: pulseGreen 1.2s ease-in-out infinite;
	}
}

.desktop {
	display: none;

	@media( min-width: 1200px ) {
		display: block;
	}
}

@keyframes scroll-testimonials {
	from {
		transform: translateX(10%);
	}
	to {
		transform: translateX(-50%);
	}
}

@keyframes pulseGreen {
	0% {
		box-shadow: 0 0 0 0 var(--green);
	}
	70% {
		box-shadow: 0 0 0 8px rgba(0, 255, 0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
	}
}