---
{
	layout: "layouts/form",
	title: "Website Build Questionnaire",
	description: "This is the form description.",
	sent: "Thanks for taking the time to fill out this questionnaire, it was sent!",
	form: [
		{
			title: "My website will need",
			description: "Check any that might apply.",
			class: "",
			fields: [
				{
					type: "textarea",
					label: "Textarea",
					description: "This is the description of a textarea."
				},
				{
					type: "email",
					label: "Email Input",
					description: "This is an email input.",
					required: true
				},
				{
					type: "select",
					label: "Select",
					description: "This is a select.",
					required: true,
					options: [
						"Option A",
						"Option B",
					]
				},
				{
					type: "checkbox",
					label: "Checkbox",
					description: "This is a checkbox.",
					required: false,
					options: [
						"Option A",
						"Option B",
					]
				}
			]
		}
	]
}
---
