---
{
	layout: "layouts/base",
	"title": "How websites are built",
	"sections": {
		"cta": {
			"section": {
				"class": ""
			},
			"content": {
				"class": ""
			}
		}
	}
}
---

<section id="how" class="textured">
	<div class="content bordered">

		<h2>How I build websites.</h2>

		<div class="content-block">
			{{ "Unless you already have a website, we build a website that's _**directly aligned with your business's goals.**_ They're **lean**, **simple**, and _**you own it.**_ End our relationship? **Your website stays up.**" | markdown | safe }}
		</div>
	</div>
</section>

{% include 'sections/cta.njk' %}

