---
{
	layout: "layouts/base"
}
---

<section id="intro">
	<div class="content bordered">

		<div>
			<div class="status"><span></span>Available for work</div>
		</div>

		<div class="who-am-i">

			<div class="content">
				<div>
					<h1 class="main-heading">I'm Aubrey.</h1>
					<p class="title">Web Developer / Designer</p>
				</div>

				{{ "I build and maintain websites for people who are **sick of doing it themselves** and want their website **out of their way!**" | replace ( "\t", '' ) | markdown | safe }}
			</div>

			<img src="/assets/img/aubrey.jpg" alt="Aubrey Portwood">
		</div>

		<div class="you-run-your-business">
			<p>You run your business.</p>
			<p>I'll run the website.</p>
		</div>

		<p>
			<a href="#" class="primary-cta button alt2">Book a free kickoff call <span class="material-symbols-outlined">calendar_add_on</span></a>
		</p>
	</div>
</section>

<section id="how">
	<div class="content bordered">

		<h2>How it works</h2>

		<h3>We build a website.</h3>

		<div class="content">
			{{ "Unless you already have a website, **we build a website that's directly aligned with your business's goals.** They're **lean**, **simple**, and **you own it.** End our relationship? **Your website stays up.**" | markdown | safe }}
			<p>
				<a href="#" class="button">Learn more about how I build websites <span class="material-symbols-outlined">open_in_new</span></a>
			</p>
		</div>

		<h3>Now I'm on your team.</h3>

		<div class="content">
			{{ "**Need content updates?** Want to run a campaign? Not sure what to do next?" | markdown | safe }}
			{{ "**I work directly with you every month** to get the most out of your website. Whatever's going on, I make sure your website is working along-side your what your business is doing." | markdown | safe }}
			{{ "**Think of me as a member of your team going forward.** Expect me to keep up with things going on in your business and keeping your website up to date." | markdown | safe }}
		</div>
	</div>
</section>

