---
{
	layout: "layouts/base",
	title: "I am a starter 11ty project by @aubreypwd.",
	markdown: true
}
---

# {{ title }}

Look at `base.njk` and `.eleventy.js` to learn what I can do:

1. I will hoist any `<style>` tags to the `<head>` of the page, bundle it, minify it, and purge it.
1. Any js in `assets/js/` will get sent through `babel` and `esbuild` so you can write whatever JS you want.
1. I come with `@aubreypwd/11ty-tools` that comes with lots of shortcodes, macros, and includes to use.
1. Images are automatically processed into `.webp` automatically by [https://www.11ty.dev/docs/plugins/image/](https://www.11ty.dev/docs/plugins/image/)

<img src="/assets/img/sandias.jpg" alt="Sandia Mountains, Albuquerque NM">
