---
layout: null
permalink: /llms.txt
eleventyExcludeFromCollections: true
---
{% include "llms/site-identity.njk" %}

For a full site index see: {{ site.baseUrl }}/llms-full.txt#llms-index

## Pages
* [See {{ site.baseUrl }}/llms-full.txt for an annotated list of pages and descriptions.]({{ site.baseUrl }}#llms-annotated-pages)

{% include "llms/common-about.njk" %}

{% include "llms/guidance.njk" %}